.sloganAproveite{
    background-color: orange;
    color: white;
    font-weight: bolder;
    width: 210mm;
    height: 80mm;
    font-size: 120px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tituloAproveite{
    padding-top: 10px;
    width: 210mm;
    font-size: 70px;
    background-color: white;
    color: black;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cifraoAproveite{
    background-color: white;
    width: 210mm;
    font-size: 80px;
    color: black;
    display: flex;
    align-items: left;
}
.precoAproveite{
    width: 210mm;
    background-color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: start;
    color: orange;
    justify-content: center;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.precoAproveiteReal{
    font-size: 350px;
}
.precoAproveiteCentavos{
    font-size: 180px;
}
.placa-aproveite{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
    text-align: center;
}
.corpoAproveite{
    display: flex;
    flex-direction: column;
    height: 217mm;
    width: 210mm;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}