.sloganOfertaExtraDupla{
    background-color: red;
    color: white;
    font-weight: bolder;
    width: 210mm;
    height: 28.5mm;
    font-size: 90px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerOfertaDupla{
    width: 210mm;
    height: 10mm;
    padding-bottom: 5mm;
    font-size: 15px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tituloOfertaDupla{
    padding-top: 10px;
    padding-left: 5mm;
    padding-right: 5mm;
    width: 200mm;
    font-size: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    align-items: center;
    justify-content: center;
}
.cifraoOfertaDupla{
    background-color: white;
    width: 200mm;
    height: 15mm;
    font-size: 40px;
    color: black;
    display: flex;
    align-items: left;
    justify-content: left;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.cifraoOfertaDupla b{
    color: red;
    font-size: 60px;
    margin-top: -20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 900;
    font-style: normal;
}
.precoOfertaDupla{
    width: 210mm;
    height: 45mm;
    background-color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: red;
    justify-content: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
    gap: 0; 
}
.precoOfertaDupla span{
    margin: 0;
    padding: 0;
    line-height: 1;
}
.placa-ofertaDupla{
    display: flex;
    height: 297mm;
    width: 210mm;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
    text-align: center;
    justify-content: flex-start;
}
.corpoOfertaDupla{
    display: flex;
    flex-direction: column;
    height: 110mm;
    width: 210mm;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    gap: 0;
}