.sloganAproveiteDupla{
    background-color: orange;
    color: white;
    font-weight: bolder;
    width: 210mm;
    height: 38.5mm;
    font-size: 100px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tituloAproveiteDupla{
    padding-top: 10px;
    width: 210mm;
    font-size: 50px;
    background-color: white;
    color: black;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cifraoAproveiteDupla{
    background-color: white;
    width: 210mm;
    font-size: 40px;
    color: black;
    display: flex;
    align-items: left;
}
.precoAproveiteDupla{
    width: 210mm;
    background-color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    align-items: start;
    color: orange;
    justify-content: center;
    font-family: "Story Script", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.precoAproveiteRealDupla{
    font-size: 200px;
}
.precoAproveiteCentavosDupla{
    font-size: 90px;
}
.placa-aproveiteDupla{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
    text-align: center;
}
.corpoAproveiteDupla{
    display: flex;
    flex-direction: column;
    height: 110mm;
    width: 210mm;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}