*{
  margin: 0px;
  padding: 0px;
}
body{
  background: linear-gradient(to top left, #ccccff 8%, #ffccff 100% 100%);
  background-size: 100VW;
  height: 100VW;
  width: 100VW;
  padding-top: 5VW;
}
p{
  text-align: center;
  padding-bottom: auto;
  font-size: 3VW;
}
a{
  text-decoration: none;
  font-size: 6VW;
  color: orange;
  text-shadow: 1px 1px 2px #000000
}
a:hover{
  color: black;
}
