*{
    margin: 0;
    padding: 0;
}
#left{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100vh;
    font-size: 25px;
}
#container{ 
    display: flex;  
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
#right{
    height: 100vh;
    width: 40vw;
    background-image: url("background.jpg");
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#top{
    background-color: #F0F0F0;
    height: 33vh;
    padding: 40px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#middle{
    background-color: white;
    height: 67vh;
    padding: 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.table label{
    font-size: 15px;
    font-family: 'Rajdhani', sans-serif;
}
table tr td input{
    width: 300px;
    border: 1px solid #E5E7EB;
}
table tr td input:focus{
    border: 1px solid blue;
    box-shadow: 0px 0px 4px 1px blue;
}
#top1{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#down1{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}
#authorimg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.8;
    height: 5vh;
    width: 100%;
    color: white; 
}
#authorimg a{
    text-decoration: none;
    color: white;
}
#banner{
    background-color: black;
    opacity: 0.8;
    height: 20vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
#text5{
    font-size: 40px;
    font-weight: bolder;
    font-family: arial;
}
#text6{
    color: #ca8a04;   
}
#text1, #text3, #text4, button{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;
}
#image img{
    width: 160px;
    border-radius: 80px;
    box-shadow: 0px 0px 4px 1px grey;
}
td{
 width: 300px;   
}
@media(orientation: portrait){
    #container{
        display: flex;  
        justify-content: left;
        align-items: center;
        flex-direction: column;
        gap: 0;
    }
    #top{
        padding: 20px 0;
        width: 100%;
        height: auto;
        gap: 20px;
    }
    #middle{
        overflow:visible;
    }
    #right{
       width: 100%;
    }
    #left{
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        height: auto;
    }
    #text5{
        font-size: 40px;
    }
    #text6{
        font-size: 20px;
    }
    #authorimg{
        font-size: 20px;
    }
    #text1{
        font-size: 20px;
        width: calc(100% - 180px);
    }
    #image img{
        width: 120px;
        border-radius: 120px;
    }
    #text3{
        font-size: 30px;
    }
    .table label{
        font-size: 20px;
    }
}
