#products{
    padding: 100px 40px 40px 40px;
    height: auto;
    width: calc(100% - 80px);
    background-image: linear-gradient(to right top, #5eead4, pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-family: 'Quicksand', sans-serif;
}
#products h1{
    margin: 0;
}
#lista{
    height: auto;
    width: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.item{
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 10px;
    height: 320px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 10px;
}
#lista a{
    text-decoration: none;
    color: black;
}
#lista a:hover{
    transform: scale(1.2);
}
.item img{
    width: 200px;
    border-radius: 30px 30px 0 0;
    margin-bottom: 10px;
    background-color: #9ca3af;
}
.item h2{
    font-size: 16px;
    height: 40px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}
.item p{
    font-size: 17px;
    margin: 0;
}
.promoPreco{
    color: red;
}
@media screen and (max-width: 900px){
    #products h1{
        text-align: center;
    }
}