*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("nuvens.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}
#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    height: 100vh;
    width: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#busca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 220px;
    gap: 20px;
    background-color: white;
    border-radius: 5px;
}
#dados{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
#busca label{
    font-size: 20px;
}
#labelinput{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 2px;
    width: 180px;
}
#busca input, #busca button{
    height: 30px;
    width: 180px;
    font-weight: bolder;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
#submit, #btn{
    border: 0;
    background-color: #e2e8f0;
}
#submit:hover, #btn:hover{
    background-color: #cbd5e1;
}
#submit:active, #btn:active{
    transform: scale(0.9);
}
#temperatura{
    font-size: 100px;
}
#details{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: left;
    color: transparent;
    font-size: 25px;
    font-weight: bolder;
}
.details-c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
#title{
    font-size: 25px;
    font-weight: bolder;
}
#city{
    font-size: 30px;
    font-weight: bolder;
}
@media screen and (orientation: portrait) {
    body{
        background-size: auto 100%;
    }
    #container{
        justify-content: center;
        flex-direction: column;
        gap: 100px;
    }
    #busca{
        height: 800px;
        width: 720px;
        border-radius: 20px;
    }
    #title{
        font-size: 90px;
    }
    #labelinput{
        width: 620px;
        gap: 20px;
    }
    #busca label{
        font-size: 90px;
    }
    #busca input, #busca button{
        width: 620px;
        height: 90px;
        font-size: 60px;
    }
    #labelinput input{
        border: 4px solid black;
    }
    #dados{
        width: 700px;
        height: 700px;
    }
    #city{
        font-size: 80px;
    }
    #temperatura{
        font-size: 200px;
    }
    #details{
        font-size: 60px;
    }
}
