body{
  display: grid;
  place-items: center;
  background: #F8F8F8;
  font-family: Arial, sans-serif;
  font-size: 30px;
  gap: 10px;
}
#gridID{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.classID{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 32px;
} 
.classID label{
  font-size: 16px;
}
#matriz{
  width: 150px;
}
#topo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 600px;
  height: 50px;
  background: white;
  border: 1px solid #C8C8C8;
}
#corpo{
  margin-top: 5px;
  background: white;
  width: 512px;
  height: 512px;
  border: 1px solid #C8C8C8;
}
#gd{
  width: 512px;
  height: 512px;
  display: grid;
}
.gridClass{
  border: 1px solid #C8C8C8;
}
#cores{
  width: 600px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#cores p{
  font-size: 20px;
}
#preto{
  background-color: black;
}
#cinza{
  background-color: grey;
}
#azul{
  background-color: blue;
}
#vermelho{
  background-color: red;
}
#amarelo{
  background-color: yellow;
}
#rosa{
  background-color: rgb(255,0,255);
}
#pink{
  background-color: rgb(255,28,174);
}
#verde{
  background-color: green;
}
#verdeLimao{
  background-color: rgb(0,255,0);
}
#marrom{
  background-color: rgb(184,115,51);
}
#ciano{
  background-color: rgb(0,255,255);
}
#laranja{
  background-color: rgb(255,165,0);
}
#rosaBebe{
  background-color: rgb(233,194,166);
}
#bege{
  background-color: rgb(234,234,174);
}
#branco{
  background-color: rgb(255,255,255);
}
.cor{
  width: 32px;
  height: 32px;
}
@media screen and (orientation: portrait){
  #topo{
    width: 100%;
    height: auto;
  }
  #gridID{
    gap: 20px;
    padding: 20px 20px;
    width: calc(100% - 40px);
    flex-wrap: wrap;
  }
  .classID{
    height: 50px;
  }
  .classID label{
    font-size: 20px;
    width: auto;
  }
  .classID input{
    height: 60px;
    font-size: 30px;
  }
  #matriz{
    width: 140px;
    height: 40px;
    font-size: 20px;
  }
  button{
    height: 40px;
    width: 140px;
    font-size: 20px;
  }
  #cores{
    width: calc(100% - 10px);
    height: auto;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
  }
  #cores p{
    font-size: 40px;
  }
  .cor{
   
  }
  #corpo{
    width: 384px;
    height: 384px;
  }
  #gd{
    width: 384px;
    height: 384px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
