.info{
    width: 350px;
    font-size: 15px;
    text-align: justify;
}
.alerta{
    color: yellow;
}
#btnprint{
    margin-bottom: 10px;
}
#buttons{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#obs{
    text-align: justify;
    display: flex;
    
}
a{
    height: 30px;
    width: 350px;
    background-color: red;
    border: 1px solid red;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
}
@media screen and (max-width: 800px) {
    .info{
        width: 100%;
    }
}